<ion-content class="reset-password-page">
  <div class="background-decor">
    <div class="circle large"></div>
    <div class="circle small"></div>
  </div>

  <div class="form-container animate__animated animate__fadeIn">
    <ion-img src="./assets/LOGO.png" class="image-logo animate__animated animate__bounceInDown"></ion-img>
    
    <h2 class="title animate__animated animate__fadeInUp">Forgot Your Password?</h2>
    <p class="subtitle animate__animated animate__fadeInUp animate__delay-1s">
      Let us help you regain access to your BatStateU Connect+ account. Please enter your registered email address below.
    </p>
    
    <form [formGroup]="resetPasswordForm" (ngSubmit)="resetPassword()">
      <div class="input-field animate__animated animate__fadeInLeft">
        <ion-icon name="mail-outline" class="icon-left"></ion-icon>
        <ion-input formControlName="email" type="email" placeholder="Enter your Email"></ion-input>
      </div>
      
      <ion-text
        *ngIf="resetPasswordForm.controls['email'].invalid && resetPasswordForm.controls['email'].touched"
        color="danger"
        class="animate__animated animate__fadeIn animate__delay-2s"
      >
        Please enter a valid email address.
      </ion-text>

      <ion-button
        color="danger"
        expand="block"
        type="submit"
        [disabled]="resetPasswordForm.invalid"
        class="btn animate__animated animate__fadeInUp animate__delay-2s"
      >
        Send Reset Link
      </ion-button>
    </form>
    
    <p class="back-to-login animate__animated animate__fadeInUp animate__delay-3s">
      <a (click)="goToLogin()">Back to Login</a>
    </p>
  </div>
</ion-content>
