:root {
  --ion-color-primary: #c62828;
  --ion-color-primary-rgb: 198, 40, 40;
  --ion-color-primary-contrast: #ffffff;
  --ion-color-primary-contrast-rgb: 255, 255, 255;
  --ion-color-primary-shade: #ae2323;
  --ion-color-primary-tint: #cc3e3e;
}
