* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ion-content,
input,
.btn {
  font-family: "Poppins", sans-serif;
}

.container {
  position: relative;
  width: 100%;
  background-color: #fff;
  min-height: 100vh;
  overflow: hidden;
}

.forms-container {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.signin-signup {
  position: absolute;
  top: 50%;
  transform: translate(-50%, -50%);
  left: 75%;
  width: 50%;
  transition: 1s 0.7s ease-in-out;
  display: grid;
  grid-template-columns: 1fr;
  z-index: 5;
}

form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0rem 5rem;
  transition: all 0.2s 0.7s;
  overflow: hidden;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.image {
  width: 100%;
}

.image2 {
  width: 30%;
  margin-bottom: 10px;
}

.image1 {
  width: 40%;
  margin-bottom: 10px;
}

form.sign-up-form {
  opacity: 0;
  z-index: 1;
}

form.sign-in-form {
  z-index: 2;
}

.title {
  font-family: "Poppins", sans-serif;
  font-weight: 600;
  font-size: 2.2rem;
  color: #444;
  margin-bottom: 10px;
}

.sign-in-form {
  p {
    margin-bottom: 10px;
  }
}

.input-field {
  position: relative;
  max-width: 380px;
  width: 100%;
  background-color: #f0f0f0;
  margin: 10px 0;
  height: 50px;
  border-radius: 55px;
  padding: 0 0.4rem;
  align-items: center;
  display: flex;
}

.input-field ion-icon {
  text-align: center;
  line-height: 45px;
  color: #acacac;
  transition: 0.5s;
  font-size: 2rem;
  margin-left: 10px;
}

.icon-left {
  margin-right: 11px;
  margin-left: 10px;
}

.input-with-icon {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  border-radius: 4px;
  padding: 10px;
  background-color: #fff;
}

.input-with-icon ion-icon {
  margin-right: 10px;
}

.input-field ion-input {
  background: none;
  outline: none;
  border: none;
  line-height: 1;
  font-weight: 600;
  font-size: 1.1rem;
  color: #333;
  opacity: 50%;
  margin-left: 5px;
}

.input-field input::placeholder {
  color: #aaa;
  font-weight: 600;
}

.forgot-password {
  position: absolute;
  bottom: -30px;
  right: 10px;
  font-size: 0.9rem;
  background-color: transparent;
  text-decoration: none;
}

.forgot-password a {
  color: #f21622;
  text-decoration: none;
}

.forgot-password a:hover {
  text-decoration: none;
}

.social-text {
  padding: 0.7rem 0;
  font-size: 1rem;
}

.social-media {
  display: flex;
  justify-content: center;
}

.social-icon {
  height: 46px;
  width: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 0.45rem;
  color: #333;
  border-radius: 50%;
  border: 1px solid #333;
  text-decoration: none;
  font-size: 1.1rem;
  transition: 0.3s;
}

.google-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #fff;
  color: #333;
  border: 1px solid #ddd;
  width: 100%;
  max-width: 380px;
  padding: 10px;
  border-radius: 25px;
  font-size: 1.1rem;
  font-weight: 600;
  text-decoration: none;
  transition: background-color 0.3s ease-in-out, border 0.3s ease-in-out;

  ion-icon {
    font-size: 1.5rem;
    margin-right: 10px;
    color: #f21622;
  }

  &:hover {
    background-color: #f0f0f0;
    border: 1px solid #f21622;
  }
}

.btn {
  width: 150px;
  background-color: #f21622;
  border-color: #fff;
  border-width: 2;
  outline: none;
  height: 49px;
  border-radius: 49px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  margin: 10px 0;
  cursor: pointer;
  transition: 0.5s;

  &:disabled {
    background-color: #cccccc;
    color: #888888;
    cursor: not-allowed;
  }
}

.btn:hover {
  background-color: #fff;
  color: #cfa865;
  border-color: #cfa865;
  border: 1px solid;
}

.panels-container {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.container:before {
  content: "";
  position: absolute;
  height: 2000px;
  width: 2000px;
  top: -10%;
  right: 48%;
  transform: translateY(-50%);
  background-image: linear-gradient(-45deg, #f21622 0%, #f21622 100%);
  transition: 1.8s ease-in-out;
  border-radius: 50%;
  z-index: 6;
}

.image3 {
  width: 100%;
  transition: transform 1.1s ease-in-out;
  transition-delay: 0.4s;
}

.panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  z-index: 6;
  height: 100%;
  padding: 3rem;
}

.left-panel .content,
.right-panel .content {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.left-panel {
  pointer-events: all;
  padding: 3rem;
}

.right-panel {
  pointer-events: none;
  padding: 3rem;
}

.panel .content {
  color: #fff;
  transition: transform 0.9s ease-in-out;
  transition-delay: 0.6s;
}

.panel h3 {
  font-weight: 600;
  line-height: 1;
  font-size: 24px;
}

.panel .content p {
  font-size: 1rem;
  line-height: 1.5;
  color: #ffffff;
  max-width: 80%;
  margin: 0 auto;
  margin-top: 10px;
  font-weight: 400;
}

.btn.transparent {
  margin: 0;
  background: none;
  border: 2px solid #fff;
  width: 200px;
  height: 41px;
  font-weight: 600;
  font-size: 0.8rem;
  margin-top: 20px;
}

.right-panel .image3,
.right-panel .content {
  transform: translateX(800px);
}

.container.sign-up-mode:before {
  transform: translate(100%, -50%);
  right: 52%;
}

.container.sign-up-mode .left-panel .image3,
.container.sign-up-mode .left-panel .content {
  transform: translateX(-800px);
}

.container.sign-up-mode .signin-signup {
  left: 25%;
}

.container.sign-up-mode form.sign-up-form {
  opacity: 1;
  z-index: 2;
}

.container.sign-up-mode form.sign-in-form {
  opacity: 0;
  z-index: 1;
}

.container.sign-up-mode .right-panel .image3,
.container.sign-up-mode .right-panel .content {
  transform: translateX(0%);
}

.container.sign-up-mode .left-panel {
  pointer-events: none;
}

.container.sign-up-mode .right-panel {
  pointer-events: all;
}

@media (max-width: 870px) {
  .container {
    min-height: 800px;
    height: 100vh;
  }

  .signin-signup {
    width: 100%;
    top: 95%;
    transform: translate(-50%, -100%);
    transition: 1s 0.8s ease-in-out;
  }

  .signin-signup,
  .container.sign-up-mode .signin-signup {
    left: 50%;
  }

  .panels-container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
  }

  .panel {
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 2.5rem 8%;
    grid-column: 1 / 2;
  }

  .right-panel {
    grid-row: 3 / 4;
  }

  .left-panel {
    grid-row: 1 / 2;
  }

  .image3 {
    width: 200px;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.6s;
  }

  .panel .content {
    padding-right: 15%;
    transition: transform 0.9s ease-in-out;
    transition-delay: 0.8s;
  }

  .panel h3 {
    font-size: 1.2rem;
  }

  .panel p {
    font-size: 0.8rem;
    padding: 0.5rem 0;
    font-family: "Poppins";
  }

  .btn.transparent {
    width: 110px;
    height: 35px;
    font-size: 0.7rem;
  }

  .container:before {
    width: 1500px;
    height: 1500px;
    transform: translateX(-50%);
    left: 30%;
    bottom: 68%;
    right: initial;
    top: initial;
    transition: 2s ease-in-out;
  }

  .container.sign-up-mode:before {
    transform: translate(-50%, 100%);
    bottom: 32%;
    right: initial;
  }

  .container.sign-up-mode .left-panel .image3,
  .container.sign-up-mode .left-panel .content {
    transform: translateY(-300px);
  }

  .container.sign-up-mode .right-panel .image3,
  .container.sign-up-mode .right-panel .content {
    transform: translateY(0px);
  }

  .right-panel .image3,
  .right-panel .content {
    transform: translateY(300px);
  }

  .container.sign-up-mode .signin-signup {
    top: 5%;
    transform: translate(-50%, 0);
  }
}
.password-toggle-icon {
  position: absolute;
  right: 10px;
  cursor: pointer;
  z-index: 1050;
}

@media (max-width: 600px) {
  .panel .content p {
    font-size: 0.9rem;
    line-height: 1.4;
    max-width: 90%;
    padding: 0 10px;
    text-align: center;
    font-family: "Poppins", sans-serif;
    margin-top: 2%;
  }

  .panel .content h3 {
    font-size: 1.2rem;
    margin-top: 3%;
  }

  .btn.transparent {
    width: 140px;
    height: 40px;
    font-size: 0.8rem;
  }

  .left-panel,
  .right-panel {
    padding: 2rem 5%;
  }

  .panel .content {
    padding: 0 1rem;
  }
}

@media (max-width: 570px) {
  form {
    padding: 0 1.5rem;
  }

  .image3 {
    display: none;
  }

  .panel .content {
    padding: 0.5rem 1rem;
  }

  .container {
    padding: 1.5rem;
  }

  .container:before {
    bottom: 72%;
    left: 50%;
  }

  .container.sign-up-mode:before {
    bottom: 23%;
    left: 50%;
  }
}
